@font-face {
    font-family: 'Bubbleboddy';
    src: url('fonts/Bubbleboddy.ttf');
}

.chart-pie-label-line {
    -fx-stroke: black;
    -fx-fill: black;
}

.chart-pie-label {
    -fx-fill: black;
    -fx-font-size: 14;
}
.chart-legend {
   -fx-background-color:  #70ca9a;
   -fx-stroke: #ce9c1d;
}

.default-color0.chart-pie { -fx-pie-color: #ffd700; }
.default-color1.chart-pie { -fx-pie-color: #ffa500; }
.default-color2.chart-pie { -fx-pie-color: #860061; }
.default-color3.chart-pie { -fx-pie-color: #adff2f; }
.default-color4.chart-pie { -fx-pie-color: #ff5700; }
.default-color5.chart-pie { -fx-pie-color: #ff4949; }

.custom-label {
    -fx-font-family: Roboto-Regular;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.button {
    -fx-font-family: Roboto-Regular;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.title {
    -fx-font-family: Roboto-Regular;
    -fx-font-size: 18px;
    -fx-font-weight: normal;
}

.inputPanel {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-padding: 0;"
    -fx-background-color: LIGHTCYAN;
}

.total-series-bars {
    -fx-bar-fill: GREY;
}

.root {
   -fx-font-family: Bubbleboddy;
   -fx-background-color: #E8F5E9;
}
